html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  border: 1px solid rgba(60, 64, 67, 0.15);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 50%
}